
body {
    background-color: #f8fafc;
    font-family: 'Segoe UI', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.card {
    background: white;
    border-radius: 16px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.table th, .table td {
    text-align: center;
}

.list-group-item.active {
    background-color: #007bff;
    border-color: #007bff;
}
.anh img {
    width: 100px ;
    height:70px;
    object-fit: cover;
}

